button{
    margin-right: 10px;
    border-radius: 10px;
}
// #delete{
//     width: 50%;
// }
// .btn{
//     background: rgb(251, 150, 28);
//     width: 80px;
//     color: white;
// }
.table{
    margin-top: 25px;
    .col{
      font-size: 20px;
      padding-right: 35px;
    }
}
.button{
    text-align: end;
}
.card{
    padding-top: 25px;
    
}

.table-card{
    padding-top: 55px;
}
// .container{
//     position: absolute;
//     padding-left: 25%;
// }
.nav-item{
    display: flex;
    justify-content: end;
    padding-left: 10%;
    padding-top: 5%;
}