<form [formGroup]="editForm" (ngSubmit)="onSubmit1()" novalidate>
    <div class="mb-3">
        <label>FirstName</label>
        <input type="text" formControlName="FirstName" class="form-control"  required>
          
        <p style="color: red;" *ngIf="editForm.get('FirstName')?.errors?.['minlength']" class="error">
            Name shouldn't be less than 4 words
        </p>
    </div>
    <div class="mb-3">
        <label>LastName</label>
        <input type="text" formControlName="LastName" class="form-control"  required>
        <p style="color: red;" *ngIf="editForm.get('LastName')?.errors?.['minlength']" class="error">
            Name shouldn't be less than 4 words
        </p>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" formControlName="Email" class="form-control"  required>
        <p style="color: red;" *ngIf="editForm.get('Email')?.errors?.['pattern']" class="error">
            <sup>*</sup>Please enter correct email
        </p>
    </div>
    <div class="mb-3">
        <label>Contact</label>
        <input type="text" formControlName="Contact" class="form-control"  required>
        <p style="color: red;" *ngIf="editForm.get('Contact')?.errors?.['pattern']" class="error">
            <sup>*</sup>Use numbers only number
        </p>
        <p style="color: red;" *ngIf="editForm.get('Contact')?.errors?.['minlength']" class="error">
            <sup>*</sup>Name shouldn't be less than 4
        </p>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" >Update</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger">Reset</button>
    </div>
</form>
