<app-home></app-home>
<!-- <div class="login">
<mat-card >
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
        </p>


        <button mat-raised-button color="primary">Login</button>
    </form>
</mat-card>

</div> -->

<div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center">
                <p>Login</p>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="username">Email</label>
                        <input autocomplete="off" formControlName="email" type="email" placeholder="Email">
                    </div>
                    <div class="p-field">
                        <label for="password" >Password</label>
                        <input autocomplete="off" formControlName="password" type="password"  placeholder="Password" >
                    </div>
                    <button mat-raised-button color="primary" class="btn" id="btn">Login</button>
                </div>
            </div>
            <!-- <div class="col-5 flex align-items-center justify-content-center">
                <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success" routerLink="/signup"  class="btn"></p-button>
            </div> -->
        </div>
    </form>
</div>