<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="postsForm" (ngSubmit)="onSubmit1()" novalidate class="form">
                <div class="mb-3">
                    <label>Title</label>
                    <input type="text" pInputText [(ngModel)]="value1"  class="form-control"
                        placeholder="title" formControlName="title">
                </div>
                <div class="mb-3">
                    <label>Author</label>
                    <input type="text" pInputText [(ngModel)]="value2"  class="form-control"
                        placeholder="author" formControlName="author">
                </div>
                <div class="mb-3">
                    <h3>Text</h3>
                    <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" formControlName="text"
                        placeholder="text"></textarea>
                </div>
                <div class="mb-3 ">
                    <div class="field col-12 md:col-4">
                        <h3>Date</h3>
                        <p-calendar [(ngModel)]="date2" dateFormat="mm-dd-yy" formControlName="date"></p-calendar>
                    </div>
                    

                </div>
                <div class="mb-3">
                    <button pButton pRipple type="submit" label="Create" class="p-button-success"></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button pButton pRipple type="reset" label="Reset" class="p-button-danger"></button>
                </div>
            </form>
        </div>
    </div>
</div>