

form{
    margin: auto;
    padding-top: 100px;
    padding: 20px;
    width: 25%;
    background: #F9F9F9;
    border-radius: 5px;
    input{
       width: 100%;
       border-radius: 5px;
       border: 1px solid rgb(132, 132, 132);
    }
}
.card{
    padding-top: 10%;
    border: none;
}
#btn{
    margin-top: 35px;
   
    background: #495057;
    // border-radius: 25px;
    color: white;
}
.register{
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.image{
    padding-bottom: 25px;
    padding-left: 2px;
}
mat-card{
    box-shadow:none;
}
