<app-home></app-home>
<div class="container">
    <div class="row">
        <div class="col-md-12 card">
            <mat-card>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <p class="register">Register</p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input autocomplete="off" formControlName="displayName" type="text" matInput
                                placeholder="Display Name">
                        </mat-form-field>
                    </p>
                    <div class="row ">
                        <div class="col-7 image">
                            <input type="file" formControlName="mediaUrl" (change)="selectFile($event)" />
                        </div>
                    </div>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input autocomplete="off" formControlName="password" type="password" matInput
                                placeholder="Password">
                        </mat-form-field>
                    </p>
                    <button mat-raised-button color="primary" class="btn" id="btn"
                        [disabled]="!selectedFiles">Signup</button>
                </form>
            </mat-card>
        </div>
    </div>
</div>