<div class="container">
    <div class="row post">
        <div class="col-md-12 border " *ngFor="let post of Posts; let i = index">
            <div class="posts-list">
                <div>
                    <span>Author:{{post.author}}</span>
                    <!-- <p>{{post.date}}</p> -->
                </div>
                <h4> {{post.title}}</h4>
                <p>{{post.text}}</p>
            </div>
        </div>
        <div class="col-md-12">
            <h1>Comments</h1>
             <div class="container">   
                <div class="form-group" >  
                    <form>  
                        <textarea class="form-control" rows="5" placeholder="Your Comment Please....." ></textarea>  
                        <br />  
                        <button class="btn btn-success pull-right" (click)="addComment()">Comment.</button>  
                        <br />  
                        <!-- <ul class="list-group" >  
                            <li class="list-group-item" > 
                                <a href="" (click)="romoveComment();" ><span class="glyphicon glyphicon-trash" style="float:right"> </span></a>  
                            </li>  
                        </ul>   -->
                    </form>  
                </div>  
            </div>   
         
        </div>
    </div>
</div>